.popover {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.trigger {
  display: inline-block;
  inline-size: 100%;
}

.trigger-open {
  border-radius: var(--border-radius);
  outline: 2px solid var(--color-button-primary);
}
