.time-container {
  display: flex;
  inline-size: auto;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.time-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.time-list {
  scrollbar-color: rgb(90 109 140 / 50%) transparent;
  scrollbar-width: thin;

  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  align-items: center;

  block-size: 100px;
  padding: 0.5rem 0.75rem;

  list-style: none;
}

.time-list-item {
  min-block-size: 24px;
  margin-inline: auto;
  padding-inline: 1rem;

  font-family: var(--font-primary);
  font-size: var(--font-size-xs);
  color: var(--color-text-primary-mute);
}

.time-list-item:hover {
  color: var(--color-text-primary);
}
