.panel {
  pointer-events: auto;

  overflow: hidden;

  min-inline-size: 150px;
  padding: 1rem;
  border-radius: var(--border-radius);

  text-align: center;

  background-color: var(--card-bg-color);
}

.popover-panel {
  position: absolute;
  z-index: 2000;
  transform: translateX(var(--panel-shift-x));

  background-color: var(--card-bg-color);
  box-shadow: var(--box-shadow);
}

.place-bottom {
  top: calc(100% + var(--panel-offset));
  bottom: auto;
}

.place-top {
  top: auto;
  bottom: calc(100% + var(--panel-offset));
}

.align-start {
  right: auto;
  left: 0;
}

.align-end {
  right: 0;
  left: auto;
}
