.wrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: space-between;

  margin-top: 0.5rem;
}

.title {
  font-weight: 600;
  text-transform: capitalize;
}

.button {
  padding: 0.25rem;
}
