.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;

  width: 100%;
  max-width: 600px;
}

.button-presets {
  gap: 0.5rem;
  max-width: 5rem;
  padding: 0.35rem 0.5rem;
}
