.wrapper {
  display: flex;
  flex: 1;
  border-radius: var(--border-radius);
  background-color: var(--card-bg-color);
}

.wrapper.error {
  background-color: rgb(from var(--color-error) r g b / 20%);
}

.wrapper.success {
  background-color: rgb(from var(--color-success) r g b / 20%);
}

.popover {
  flex: 1 1 100%;
}

.date-popover-button {
  inline-size: 100%;
  padding: 0.625rem 0.5rem;
  color: var(--color-text-primary);
  background-color: transparent;
}

.date-popover-button.error {
  color: var(--color-error);
}

.date-popover-button.success {
  color: var(--color-success);
}

.date-popover-button:hover {
  color: inherit;
  background-color: inherit;
}

.text {
  display: flex;
  align-items: center;
}
